<!-- <div class="main">
  <div class="container my-container"> -->

<div class="row">
  <!-- <div class="col-6">
        <div class="backdrop"></div>
      </div> -->
  <div class="col-12">
    <div class="title">Vendor Empanelment</div>
    <form [formGroup]="empanelmentForm" class="login-form">

      <!-- userId Column -->

      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-label>Enter Vendor Email </mat-label>
          <input matInput type="email" class="form-control" placeholder="Enter Email" formControlName="emailId">
          <mat-error *ngIf="empanelmentForm.get('emailId')?.hasError('email')">Enter valid email Id</mat-error>
        </mat-form-field>

        <small class="form-text text-muted text-description">(Enter vendor empanelment login email)</small>


      </div>
      <!-- errors -->
      <div class="errortxt loginerror">{{ message }}</div>

      <!--  login button -->
      <div class="row actions margin-unset">
        <button mat-raised-button type="submit" class=" footer-actions mat-elevation-z8" (click)="onEmpanelmentClick()">
          Vendor Empanelment</button>
      </div>
    </form>

  </div>
</div>
<!-- </div>
</div> -->