<nav class="header navbar mat-elevation-z8">
    <div class="flex-container full-width">
        <div class="logo flex-item">

        </div>
        <div class="signout flex-item">
            <div class="flex-container">
                <div class="flex-item">
                    {{ userId }}
                </div>
                <div class="flex-item">
                    {{ userName }}
                </div>
                <div class="flex-item">
                    {{ roleName }}
                </div>
            </div>
            <div class="flex-item">
                <button class="logout" mat-button matSuffix mat-icon-button matTooltip="Log Out"
                    (click)=" onLogoutClick()">
                </button>
                <button class="contact_me" mat-button matSuffix mat-icon-button matTooltip="Contact_Us"
                    (click)=" onContactClick()">
                </button>
            </div>
        </div>
    </div>
</nav>