<nav class="header navbar mat-elevation-z8">
    <div class="flex-container full-width">
        <div class="logo flex-item">
            mVendor
        </div>
        <div class="signout flex-item">
            <div class="flex-container">
                <div class="flex-item">
                  {{ userId }}
                </div>
                <div class="flex-item">
                   {{ userName }}
                </div>
                <div class="flex-item">
                    {{ roleName }}
                 </div>
            </div>
            <div class="flex-item">
                <button mat-button matSuffix mat-icon-button aria-label="LogOut" (click)=" onLogoutClick()">
                    <mat-icon>exit_to_app</mat-icon>
                </button>
            </div>
        </div>
    </div>
</nav>