
.header{
    background-color: blueviolet;
    color:white;
    padding: 0px;
    z-index: 1;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.flex-item{
    display: flex;
}
.signout .flex-container{
    flex-direction: column;
    align-items:flex-end;
}
.signout>.flex-item{
    margin:auto;
}

.mat-icon{
    font-size: x-large;
    margin:auto;
}

.logo {
	background-image: url(../../assets/images/logo-new2.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

  width: 20%;
} 
.flex-item.logo{
    background-color: white;
}
.contact_me,.logout{
    cursor: pointer;
    background-position: center;
    background-size: contain;
   
}
.contact_me{
    background-image: url("./../../assets/images/contact_me2.png");
    margin-right: 2em;
  }
  .logout{
    background-image: url("./../../assets/images/logout.png");
    margin: 0 1em;
  }