.mat-dialog-title .mat-icon {
    top: 5px;
    position: relative;
    cursor: grab;
}

.actions{
    text-align: right;
    margin-top: 2em;
}

.footer-actions{
    height:unset;
}
.actions .footer-actions{
    margin-right: 10px;
}