<div class="main">
  <div class="title">
    <h3>Invoice Creation</h3>
  </div>
  <div class="row search">
    <div class="col-2">
      <mat-form-field class="full-width">
        <mat-label>PO No.</mat-label>
        <mat-select matNativeControl required>
          <mat-option>PO list</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="errortxt">
        PO No. is required
      </div>
    </div>
    <div class="col-2">
      <mat-form-field class="full-width">
        <mat-label>Invoice No.</mat-label>
        <input matInput placeholder="Invoice No.">
      </mat-form-field>
      <div class="errortxt">
        Invoice No. is required
      </div>
    </div>
    <div class="col-2">
      <mat-form-field class="full-width">
        <mat-label>Invoice Date</mat-label>
        <input matInput [matDatepicker]="picker" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
      <div class="errortxt">
        Invoice Date is required
      </div>
    </div>
    <div class="col-6">
      <mat-form-field class="full-width">
        <mat-label>Remarks</mat-label>
        <textarea matInput placeholder="Remarks"></textarea>
      </mat-form-field>
    </div>
  </div>

  <!-- table details -->
  <div class="container my-container margin-unset full-width">
    <table class="dataTable full-width">
      <thead>
        <tr>
          <th class="headers" scope="col" *ngFor="let col of headerArr; let hInd = index">
            <span>{{ headerArr[hInd] }} </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <input class="inv-qty">
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td colspan="7" class="add-ons"> Invoice Net Amount
          </td>
          <td class="amount">
          </td>
        </tr>
        <tr>
          <td colspan="7" class="add-ons"> Freight Amount
          </td>
          <td class="amount">
          </td>
        </tr>
        <tr>
          <td colspan="7" class="add-ons"> Invoice Total Amount
          </td>
          <td class="amount">
          </td>
        </tr>
      </tbody>
    </table>
    <div class="actions">
      <button mat-raised-button class="footer-actions footer-actions-green" required>Invoice Attachment</button>
    </div>
    <div class="actions">
      <button mat-raised-button class="footer-actions footer-actions-green">Supporting Doc Attachment</button>
    </div>
    <div class="row actions margin-unset">
      <button mat-raised-button class="footer-actions">Cancel</button>

      <button mat-raised-button class="footer-actions footer-actions-green">Submit</button>
    </div>
  </div>
</div>