.dataTable thead tr, .dataTable tbody tr{
    border-bottom: 1px solid blueviolet;
    
}
.inv-qty{
    border: 1px solid gray;
}
.add-ons{
    font-weight: 700;
    text-align: right;
}
.search{
    margin-bottom: 1em;
}
