.dataTable thead tr, .dataTable tbody tr{
    border-bottom: 1px solid blueviolet;
    
}
.inv-qty{
    border: 1px solid gray;
    text-align: right;
}
.add-ons{
    font-weight: 700;
    text-align: right;
}

.attachment-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

  }
  
  .attachment-elements {
    flex: 0 0 16em;
  }
.attachment-row .footer-actions{
    flex: 0 0 3em;
    height: 2em;
    line-height: 1em;
}
.search-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-row-element {
    flex-grow: 0;
  }
.search-row 
.mat-form-field{
  margin-right: 2em;
}
.search-row .remarks{
    flex-grow: 1;
}
.search-row .date{
    width: 8em;
}
.search-row .currency
{
    width: 9em;
}