<div class="main">
    <div class="title">
        <h3>Invoice Creation</h3>
    </div>
    <form [formGroup]="invoiceUploadForm">
        <div class="row search">
            <div class="col-2">
                <mat-form-field class="full-width">
                    <mat-label>Choose PO No.</mat-label>
                    <mat-select matNativeControl formControlName="poList">
                        <mat-option *ngFor="let p of poList" [value]="p.poNumber">
                            {{ p.poNumber }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!--<div class="errortxt">
                    PO No. is required
                </div>-->
            </div>
            <div class="col-2">
                <mat-form-field class="full-width">
                    <mat-label>Invoice No.</mat-label>
                    <input type="text" matInput formControlName="invoiceNumber" autocomplete="off">
                </mat-form-field>
                <!--<div class="errortxt">
                    Invoice No. is required
                </div>-->
            </div>
            <div class="col-2">
                <mat-form-field class="full-width">
                    <mat-label>Invoice Date</mat-label>
                    <input matInput [matDatepicker]="picker" disabled formControlName="invoiceDate" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>
                <!--<div class="errortxt">
                    Invoice Date is required
                </div>-->
            </div>
            <div class="col-6">
                <mat-form-field class="full-width">
                    <mat-label>Remarks</mat-label>
                    <input type="text" matInput placeholder="Remarks" formControlName="remarks" autocomplete="off">
                </mat-form-field>
            </div>
        </div>

        <!-- table details -->
        <div class="container my-container margin-unset full-width">
            <table class="dataTable full-width">
                <thead>
                    <tr>
                        <th class="headers" scope="col" *ngFor="let col of headerArr; let hInd = index">
                            <span>{{ headerArr[hInd] }} </span>
                        </th>
                    </tr>
                </thead>
                <tbody formArrayName="itemsList" >
                    <tr *ngFor="let item of invoiceUploadForm.get('itemsList')?.controls; let itemInd = index" [formGroupName]="itemInd">
                        <td>
                            {{ item.get("itemNumber").value }}
                        </td>
                        <td>
                            {{ item.get("itemDescription").value }}
                        </td>
                        <td>
                            <input class="inv-qty" formControlName = "hsn">
                        </td>
                        <td>
                            {{ item.get("orderedUnits").value }}
                        </td>
                        <td>
                            {{ item.get("suppliedUnits").value }}
                        </td>
                        <td>
                            {{ item.get("consumedUnits").value }}
                        </td>
                        <td>
                            <input class="inv-qty" formControlName = "invoiceUnits" (blur) = "onInvoiceUnitsBlur(itemInd)">
                        </td>
                        <td>
                            {{ item.get("unitPrice").value }}
                        </td>
                        <td>
                            {{ item.get("unitsAmt").value  }}
                        </td>
                    </tr>
                    
                    
                </tbody>
            </table>
            <table class="dataTable full-width">
                <tbody>
                    <tr>
                        <td class="add-ons"> Invoice Net Amount
                        </td>
                        <td class="amount">
                            {{ f["totalItemsAmt"].value }}
                        </td>
                    </tr>
                    <tr>
                        <td class="add-ons"> Freight Amount
                        </td>
                        <td class="amount">
                            <input class="inv-qty" formControlName = "freightCharges" (blur) = "updateInvoiceTotalAmt()">
                        </td>
                    </tr>
                    <tr>
                        <td class="add-ons"> Total Tax Amount
                        </td>
                        <td class="amount">
                            <input class="inv-qty" formControlName = "totalTax" (blur) = "updateInvoiceTotalAmt()">
                        </td>
                    </tr>
                    <tr>
                        <td class="add-ons"> Invoice Total Amount
                        </td>
                        <td class="amount">
                            {{ f["totalInvAmt"].value }}
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div class="actions">
                <button mat-raised-button class="footer-actions footer-actions-green" required>Invoice Attachment</button>
            </div>
            <div class="actions">
                <button mat-raised-button class="footer-actions footer-actions-green">Supporting Doc Attachment</button>
            </div>
            <div style="color: blue">
                {{ msg }}
            </div>
            <div class="row actions margin-unset">
                <button mat-raised-button class="footer-actions">Cancel</button>
                <button mat-raised-button class="footer-actions footer-actions-green" (click) = "onSubmitClick()">Submit</button>
            </div>
        </div>
    </form>
</div>