<div class="main">

  <div class="title">
    <h3>Contact Us</h3>
  </div>
  <div class="container">
    <div class="row margin-unset">
      <div class="col-6 header">For IT related help:</div>
      <div class="col-6 value">marlabs@ISJavaTeam</div>
    </div>
    <div class="row margin-unset">
      <div class="col-6 header">For Procurement related help:</div>
      <div class="col-6 value">marlabs@ProcurementTeam</div>
    </div>
    <div class="row margin-unset">
      <div class="col-6 header">For Finance related help:</div>
      <div class="col-6 value">marlabs@FinanceTeam</div>
    </div>
  </div>

</div>