.value,
.header {
  font-size: 2em;
}
.title {
  margin-bottom: 3em;
}
.value {
  color: blueviolet;
  font-style: italic;
  cursor: pointer;
  &:hover {
      text-decoration: underline;
  }
}
.container{
    width: 60%;
}