<div class="commonleftnav mat-elevation-z8" [@collapseChanged]="isSidebarCollapsed" >
    <div class="navexpandcollapse" (click)="onCollapseClick()">
        <span *ngIf="isSidebarCollapsed == false">
            <mat-icon>close</mat-icon>
        </span>
        <span *ngIf="isSidebarCollapsed == true">
            <mat-icon>compare_arrows</mat-icon>
        </span>
    </div>

    <ul class="menu">
        <li class="removehover" style="padding:0px;" *ngIf = "isInvoiceCreateVisible == true">
            <div class="creation-btn actions">
                <button mat-raised-button class="footer-actions" (click) = "onInvoiceUploadClick()" [ngClass]="{' btn-collapsed': isSidebarCollapsed ==  true }">
                    <span *ngIf="isSidebarCollapsed == false" >Invoice Creation</span>
                    <span *ngIf="isSidebarCollapsed == true" ><mat-icon>create</mat-icon></span>
                </button>
            </div>
        </li>

        <li *ngIf = "isApprovalsVisible == true" (click) = "onPendingApprovalClick()">
            <div class="side-icon">
                <mat-icon>done_outline</mat-icon>
            </div>
            <div class="navtxt">Approvals</div>
        </li>
        <li (click) = "onPoSearchClick()">
            <div class="side-icon">
                <mat-icon>pageview</mat-icon>
            </div>
            <div class="navtxt">PO Search</div>
        </li>
        <li (click) = "onInvoiceSearchClick()">
            <div class="side-icon">
                <mat-icon>local_offer</mat-icon>
            </div>
            <div class="navtxt">Invoice Search</div>
        </li>
        <li (click) = "onVenDashClick()">
            <div class="side-icon">
                <mat-icon>dashboard</mat-icon>
            </div>
            <div class="navtxt">Vendor Dashboard</div>
        </li>
        <li *ngIf = "isPOInvoiceDumpVisible == true">
            <div class="side-icon">
                <mat-icon>description</mat-icon>
            </div>
            <div class="navtxt">Reports</div>
        </li>
        <ul class="childdash" *ngIf = "isPOInvoiceDumpVisible == true">
            <li [ngClass]="{'collapsed': isSidebarCollapsed == true}" (click) = "onPOInvoiceDumpClick()">
                <div class="side-icon">
                    <mat-icon>description</mat-icon>
                </div>
                <div class="navtxt">PO Invoice Dump</div>
            </li>
            <li [ngClass]="{'collapsed': isSidebarCollapsed == true}" (click) = "onNonPOInvoiceDumpClick()">
                <div class="side-icon">
                    <mat-icon>description</mat-icon>
                </div>
                <div class="navtxt">Non PO Invoice Dump</div>
            </li>
        </ul>
        <li class="removehover">
            <div class="side-icon">
                <mat-icon>person</mat-icon>
            </div>
            <div class="navtxt">Vendor</div>
        </li>
        <ul class="childdash">
            <li [ngClass]="{'collapsed': isSidebarCollapsed == true}" (click) = "onVendorRegistrationClickClick()">
                <div class="side-icon">
                    <mat-icon>how_to_reg</mat-icon>
                </div>
                <div class="navtxt">Vendor Registration</div>
            </li>
            <li *ngIf = "isEmpanelmentVisible == true" [ngClass]="{'collapsed': isSidebarCollapsed == true}" (click) = "onEmpanelmentClick()">
                <div class="side-icon">
                    <mat-icon>person</mat-icon>
                </div>
                <div class="navtxt">Vendor Empanelment</div>
            </li>
        </ul>
        <li (click) = "onLogoutClick()">
            <div class="side-icon">
                <mat-icon>exit_to_app</mat-icon>
            </div>
            <div class="navtxt">Log Out</div>
        </li>
    </ul>
</div>