
.commonleftnav{
    min-height: 100%;
    height: 100%;
    float: left;
    background-color: #FAFAFA;
    white-space: nowrap;
    float: left;
    overflow:hidden;
}

.clsSidebarExpand {
    width: 200px;
}

.clsSidebarCollapse {
    width: 4%;
}

.commonleftnav ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 2.9rem;
    width: 100%;
}

.commonleftnav ul li{
    cursor: pointer;
    padding: 7px 10px;
    display: flex;
    padding-left: 1em;
    font-size: 1.25em;
    align-content: center;
}

.commonleftnav ul li:hover{
  box-shadow: inset 4px 0px 0px 0px blueviolet;
  background-color: #ECCFFF;
  color:blueviolet
}
.side-icon{
    margin-right: 1em;
}
.navexpandcollapse{
    height: 38px;
    cursor: pointer;
}

.navexpandcollapse span{
    float: right;
    padding: 1em;
    cursor: pointer;
}

.childdash{
        margin-top: 0px!important;
}

.childdash li{
    align-items: center;
    white-space: normal;
} 

.tabactive{
    box-shadow: inset 4px 0px 0px 0px blueviolet;
    background-color: #ECCFFF;
    color:blueviolet
}
.childdash li:hover{
    box-shadow: inset 4px 0px 0px 0px blueviolet;
    background-color: #ECCFFF;
    color:blueviolet
}
.commonleftnav ul li.removehover:hover{
    box-shadow: none;
    background: transparent;
    cursor: auto;
    color:rgba(0, 0, 0, 0.54);
}

@media only screen and (max-width: 499px) {
    .commonleftnav{
    width: 100%!important;
    }
}
.creation-btn{
    background: #F2EBFD;
    width: 100%;
    margin-bottom: 2em;
}
.footer-actions{
    margin:  20px 10px;
    width: 90%;
}
.btn-collapsed{
    margin:20px 0px;
    border-radius: 0px;
    text-align: left;
    padding-left: 1em;
}