<div class="main">
    <div class="title">
        <h3>Invoice Details</h3>
    </div>
    <!-- -----------------------------------stepper---------------------------------------------- -->
    <ul class="stepper">
        <li class="step completed">
            <span class="upper-text">{{ uploadLevel?.date }}</span>
            <span class="dot"></span>
            <span class="lower-text">
                Upload
            </span>
        </li>

        <li class="step" [ngClass]="{ 'completed': poLevel?.status == 'Approved', 'notcompleted': poLevel?.status == 'Rejected' }">
            <span class="upper-text">{{ getStatusDetails(poLevel) }}</span>
            <span class="dot"></span>
            <span class="lower-text">
                Buyer
            </span>
        </li>

        <li class="step" [ngClass]="{ 'completed': fhLevel?.status == 'Approved', 'notcompleted': fhLevel?.status == 'Rejected' }">
            <span class="upper-text">{{ getStatusDetails(fhLevel) }}</span>
            <span class="dot"></span>
            <span class="lower-text">
                Business Head
            </span>
        </li>

        <li class="step" [ngClass]="{ 'completed': financeLevel?.status == 'Approved', 'notcompleted': financeLevel?.status == 'Rejected' }">
            <span class="upper-text">{{ getStatusDetails(financeLevel) }}</span>
            <span class="dot"></span>
            <span class="lower-text">
                Finance
            </span>
        </li>

        <li class="step" [ngClass]="(getPaidStatus().length > 0) ? 'completed' : ''">
            <span class="upper-text">{{ getPaymentStatusDetails() }}</span>
            <span class="dot"></span>
            <span class="lower-text">
                Payment
            </span>
        </li>
    </ul>

    <div class="flex-container full-width details">
        <div class="description flex-item">
            <table class="dataTable full-width">
                <tbody>
                    <tr>
                        <th>
                            Vendor Id:
                        </th>
                        <td>
                            {{ (invoiceDetails?.vendorId) ? invoiceDetails?.vendorId : "" }}
                        </td>
                        <th>
                            Company Name:
                        </th>
                        <td>
                            {{ (invoiceDetails?.companyName) ? invoiceDetails?.companyName : "" }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Vendor Name:
                        </th>
                        <td>
                            {{ (invoiceDetails?.vendorName) ? invoiceDetails?.vendorName : "" }}
                        </td>
                        <th>
                            Project Name:
                        </th>
                        <td>
                            {{ (invoiceDetails?.projectName) ? invoiceDetails?.projectName : "" }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Total Inv Amt <small> (Incl Tax) </small>:
                        </th>
                        <td>
                            {{ invoiceDetails?.totalAmt + " " + currency }}
                        </td>
                        <th>
                            PO No:
                        </th>
                        <td>
                            {{ invoiceDetails?.poNumber }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Amount Paid(Incl. Tax):
                        </th>
                        <td *ngIf = "isForPayments == false">
                            {{ getPaidAmount() }} {{ currency }}
                        </td>
                        <td *ngIf = "isForPayments == true">
                            <div>
                                <mat-form-field class="search-row-element remarks">
                                    <input type="text" matInput (blur) = "onAmountPaidBlur()" [(ngModel)]="amountPaid" autocomplete="off"> 
                                </mat-form-field>
                                <span>{{ currency }}</span>
                            </div>
                            <div class="errortxt">{{ amountPaidErrMsg }}</div>
                        </td>
                        <th>
                            Invoice No:
                        </th>
                        <td>
                            {{ invoiceDetails?.invoiceNumber }}
                        </td>
                    </tr>
                    <tr>
                        <!--<th>
                            Paid Date:
                        </th>
                        <td>
                            {{ getPaidDate() }}
                        </td>-->
                        <th>
                            Invoice Date:
                        </th>
                        <td>
                            {{ getFormattedDate(invoiceDetails?.invoiceDate) }}
                        </td>
                    </tr>
                    <tr *ngIf = "isForPayments == false">
                        <th>
                            Paid Status:
                        </th>
                        <td>
                            {{ getPaidStatus() }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Invoice Documents:
                        </th>
                        <td>
                            <div class="filename value" *ngFor="let ifile of invoiceFilesList; let ifileInd = index">
                                <mat-icon matTooltip="{{ifile.actualFileName}}" (click)="downloadFile(ifile)">
                                    description
                                </mat-icon>
                                <!-- <button mat-button mat-icon-button aria-label="Download" (click)="downloadFile(ifile)">
                                <mat-icon>save_alt</mat-icon>
                            </button> -->
                            </div>
                        </td>
                        <th>
                            Supporting Documents:
                        </th>
                        <td>
                            <div class="filename value" *ngFor="let sf of supportFilesList; let sfInd = index">
                                <mat-icon matTooltip=" {{ sf.actualFileName }}" (click)="downloadFile(sf)">description
                                </mat-icon>
                                <!-- <button mat-button mat-icon-button aria-label="Download" (click)="downloadFile(sf)">
                            <mat-icon>save_alt</mat-icon>
                        </button> *ngIf="isForPayments = true"-->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td *ngIf = "isForPayments == true">
                            <div>
                                <mat-form-field  class="search-row-element">
                                    <mat-select matNativeControl placeholder="Choose Payment Status" [(ngModel)]="selectedPaymentStatus" (selectionChange) = "onPaymentStatusChange()">
                                        <mat-option *ngFor="let p of paymentStatusList" [value]="p.statusCode">
                                            {{ p.statusDesc }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="errortxt">{{ paymentStatusErrMsg }}</div>
                        </td>
                        <td>
                            <div>
                                <mat-form-field class="search-row-element remarks" *ngIf = "isForPayments == true" >
                                    <input type="text" matInput placeholder="Remarks" maxlength="50" (blur) = "onRemarksBlur()" [(ngModel)]="remarks" autocomplete="off">
                                </mat-form-field>
                                <span *ngIf = "isForPayments == false">Remarks: {{ getRemarks() }}</span>
                            </div>
                            <div class="errortxt">{{ remarksErrMsg }}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="flex-item" style="flex-grow:0;">
            <mat-card class="card mat-elevation-z3 full-width">
                <table class="dataTable full-width">
                    <thead>
                        <tr>
                            <th class="headers" scope="col" *ngFor="let hdr of statusHeaderArr; let shInd = index">
                                <span>{{ hdr }}</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let apprlevel of approvalLevelList; let levelInd = index">
                            <td  class="eightcharacters">
                                <span>{{ apprlevel.levelName }}</span>
                            </td>
                            <td  class="eightcharacters">
                                <span>{{ apprlevel.status }}</span>
                            </td>
                            <td  class="tencharacters">
                                <span>{{ apprlevel.date }}</span>
                            </td>
                            <td  class="tencharacters remarks">
                                <span  matTooltip="{{apprlevel.remarks}}">{{ apprlevel.remarks }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-card>
        </div>
    </div>
    <!-- table details [dataSource]="POData" -->
    <div class="container my-container margin-unset full-width">
        <table class="dataTable full-width">
            <thead>
                <tr>
                    <th class="headers" scope="col" *ngFor="let hdr of headerArr; let hInd = index">
                        <span>{{ hdr }} </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of itemsList; let itemInd = index">
                    <td style="width:5em;">
                        <span>{{ item.itemNumber }}</span>
                    </td>
                    <td>
                        <span>{{ item.itemDescription }}</span>
                    </td>
                    <td *ngIf="isPOBasedInvoice == true" style="width:4em;">
                        <span>{{ item.uom }}</span>
                    </td>
                    <td class="eightcharacters">
                        <span>{{ item.hsn }}</span>
                    </td>
                    <td *ngIf="isPOBasedInvoice == true" class="tencharacters">
                        <span>{{ item.orderedUnits }}</span>
                    </td>
                    <td *ngIf="isPOBasedInvoice == true" class="tencharacters">
                        <span>{{ item.suppliedUnits }}</span>
                    </td>
                    <td *ngIf="isPOBasedInvoice == true" class="tencharacters">
                        <span>{{ item.consumedUnits }}</span>
                    </td>
                    <td style="width:4em;">
                        <span>{{ item.invoiceUnits }}</span>
                    </td>
                    <td style="width:4em;">
                        <span>{{ currency }}</span>
                    </td>
                    <td class="amount tencharacters">
                        <span>{{ item.unitPrice }}</span>
                    </td>
                    <td class="amount tencharacters">
                        <span>{{ item.totalAmt }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="footer">
            <div class="header ">
                Total Amount:
            </div>
            <div class="value ">
                {{ totalAmount + " " + currency }}
            </div>
        </div>

        <div class="row actions margin-unset">
            <button mat-raised-button class="footer-actions" (click) = "onBackBtnClick()">Back</button>
            <button *ngIf = "isForPayments == true" mat-raised-button class="footer-actions" (click) = "onUpdatePaymentStatusClick()">Update</button>
        </div>
    </div>
</div>