//---------------------css for stepper---------------------------

.stepper {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin:1em 0px 2em;

  .step {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.completed {
      .dot {
        background-color: blueviolet;
      }

      .lower-text {
        color: blueviolet;
      }

      &:after {
        background-color: blueviolet;
      }
    }

    &.notcompleted {
      .dot {
        background-color: red;
      }

      .lower-text {
        color: red;
      }

      &:after {
        background-color: red;
      }
    }

    &:last-child {
      &:after {
        width: 50%;
        transform: translateX(-50%);
      }
    }

    &:first-child {
      &:after {
        width: 50%;
        transform: translateX(50%);
      }
    }

    &:after {
      content: "";
      width: 100%;
      height: 3px;
      position: absolute;
      top: 25px;
      background-color: #d5d5d5;
      z-index: 0;
    }

    .upper-text {
      font-size: 11px;
      line-height: 1.5;
      text-align: center;
      color: #999;
      height: 20px;
      display: block;
    }

    .lower-text {
      font-size: 14px;
      line-height: 1.57;
      text-align: center;
      color: #999;
      display: block;
      margin-top: 0.5em;
    }

    .dot {
      width: 1em;
      height: 1em;
      border-radius: 50%;
      position: relative;
      z-index: 1;
      display: inline-block;
      background-color: #fff;
      border: 2px solid blueviolet;
    }
  }
}
// ----------------------------css for stepper ends------------------------------

.dataTable {
  margin-top: 0px;
}

td.mat-cell:first-of-type,
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px;
}
td.mat-cell:last-of-type,
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 0px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
}

.flex-item  {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
}
.description .flex-container .flex-item .value,

.description .flex-container .flex-item .header{
  width: 50%;
}

.description .flex-container {
  flex-direction: column;
}
.details {
  margin-bottom: 1em;
}
.card {
  border-radius: 10px;
  padding-top: 0px;
}
.header{
  color: black;
  font-weight: 500;
  margin-right: 1em;
}
.filename{
  cursor:pointer;
  display: inline;
}
.footer{
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: row;
  margin-top:1em;
}
.description .dataTable tr{
  height:auto;
  border: 0px;
}
.description .dataTable tr td{
  border:0px;
}
.remarks{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 12em;
  display: inline-block;
  line-height: 2.8em;
}

.clsPrintVoucher {
    background-color: blueviolet;
    color: white;
}