<div class="main">
  <div class="title">
    <h3>PO Search</h3>
  </div>
  <div class="search-row">
      <mat-form-field class="field search-row-element">
        <mat-label>PO No.</mat-label>
        <mat-select >
          <mat-option>PO list</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="field search-row-element">
        <mat-label>Pick Start Date</mat-label>
        <input matInput [matDatepicker]="picker" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="field search-row-element">
        <mat-label>Pick End Date</mat-label>
        <input matInput [matDatepicker]="picker1" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker1 disabled="false"></mat-datepicker>
      </mat-form-field>

      <mat-icon class="search-btn mat-elevation-z3 search-row-element">search</mat-icon>
 
    <div class="actions search-row-element">
      <button mat-raised-button class="footer-actions">Download Excel</button>
    </div>
  </div>

  <!-- table details [dataSource]="POData"-->
  <div class="container my-container margin-unset full-width">
    <table mat-table matSort class="dataTable full-width">

      <ng-container matColumnDef="po">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>PO No.</th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <ng-container matColumnDef="vendorid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendor Id </th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <ng-container matColumnDef="vendorname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendor Name </th>
        <td mat-cell *matCellDef="let element"> </td>
      </ng-container>

      <ng-container matColumnDef="podate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PO Date </th>
        <td mat-cell *matCellDef="let element"> </td>
      </ng-container>

      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Currency </th>
        <td mat-cell *matCellDef="let element"> </td>
      </ng-container>

      <ng-container matColumnDef="totalamt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount </th>
        <td mat-cell class="amount" *matCellDef="let element"> </td>
      </ng-container>

      <ng-container matColumnDef="billedamt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Billed Amount </th>
        <td mat-cell class="amount" *matCellDef="let element"> </td>
      </ng-container>

      <ng-container matColumnDef="payrec">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pay Rec </th>
        <td mat-cell class="amount" *matCellDef="let element"> </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element"> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="headerArr"></tr>
      <tr mat-row *matRowDef="let row; columns: headerArr;"></tr>
    </table>

  </div>
</div>