<div class="main">
    <div class="title">
        <h3>PO Details</h3>
    </div>
    <div class="search-row">

        <div class="search-row-element">
            <mat-label>PO No.</mat-label>
            <div class="value">{{ poDetails?.poNumber }}</div>
        </div>

        <div class="search-row-element">
            <mat-label>PO Date</mat-label>
            <div class="value">{{ getFormattedDate(poDetails?.poDate) }}</div>
        </div>

        <div class="search-row-element">
            <mat-label>Company Name</mat-label>
            <div class="value">{{ poDetails?.companyName }}</div>
        </div>

        <div class="search-row-element">
            <mat-label>Currency</mat-label>
            <div class="value">{{ currency }}</div>
        </div>

        <div class="search-row-element">
            <mat-label>Total Amount</mat-label>
            <div class="value">{{ poDetails?.totalAmount }}</div>
        </div>

        <div class="search-row-element">
            <mat-label>Billed Amount</mat-label>
            <div class="value">{{ poDetails?.billedAmount }}</div>
        </div>

        <div class="search-row-element">
            <mat-label>Total Amount Paid</mat-label>
            <div class="value">{{ poDetails?.paidAmount }}</div>
        </div>
    </div>

    <!-- table details [dataSource]="POData" -->
    <div class="container my-container margin-unset full-width">
        <table class="dataTable full-width">
            <thead>
                <tr>
                    <th class="headers" scope="col" *ngFor="let col of headerArr; let hInd = index">
                        <span>{{ headerArr[hInd] }} </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of itemsList; let itemInd = index">
                    <td style="width:5em">
                        <span>{{ item.itemNumber }}</span>
                    </td>
                    <td>
                        <span>{{ item.itemDescription }}</span>
                    </td>
                    <td>
                        <span>{{ item.invoiceNumber }}</span>
                    </td>
                    <td class="eightcharacters">
                        <span>{{ item.hsn }}</span>
                    </td>
                    <td class="tencharacters">
                        <span>{{ item.orderedUnits }}</span>
                    </td>
                    <td   class="tencharacters">
                        <span>{{ item.suppliedUnits }}</span>
                    </td >
                    <!--<td  class="tencharacters">
                        <span>{{ item.consumedUnits }}</span>
                    </td>-->
                    <td  class="tencharacters">
                        <span>{{ item.invoiceUnits }}</span>
                    </td>
                    <td class="amount tencharacters">
                        <span>{{ item.unitPrice }}</span>
                    </td>
                    <td class="amount tencharacters">
                        <span>{{ item.unitsTotalAmount }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="footer">
            <div class="header ">
                Total Amount:
            </div>
            <div class="value ">
                {{ totalAmount + " " + currency }}
            </div>
        </div>

    </div>

    <div class="row actions margin-unset">
        <button mat-raised-button class="footer-actions" (click)="onBackBtnClick()">Back</button>
    </div>
</div>