<div class="main">
    <div class="title">
        <h3>PO Details</h3>
    </div>
    <div class="search-row">

        <div class="search-row-element">
            <mat-label>PO No.</mat-label>
            <div class="value">{{ poDetails?.poNumber }}</div>
        </div>

        <div class="search-row-element">
            <mat-label>PO Date</mat-label>
            <div class="value">{{ getFormattedDate(poDetails?.poDate) }}</div>
        </div>

        <div class="search-row-element">
            <mat-label>Total Amount</mat-label>
            <div class="value">{{ poDetails?.totalAmount }}</div>
        </div>

        <div class="search-row-element">
            <mat-label>Billed Amount</mat-label>
            <div class="value">{{ poDetails?.billedAmount }}</div>
        </div>

        <div class="search-row-element">
            <mat-label>Total Amount Paid</mat-label>
            <div class="value"></div>
        </div>

        <div class="actions search-row-element">
            <button mat-raised-button class="footer-actions">Export Excel</button>
        </div>
    </div>

    <!-- table details [dataSource]="POData" -->
    <div class="container my-container margin-unset full-width">
        <table class="dataTable full-width">
            <thead>
                <tr>
                    <th class="headers" scope="col" *ngFor="let col of headerArr; let hInd = index">
                        <span>{{ headerArr[hInd] }} </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of itemsList; let itemInd = index">
                    <td>
                        <span>{{ item.itemNumber }}</span>
                    </td>
                    <td>
                        <span>{{ item.itemDescription }}</span>
                    </td>
                    <td>
                        <span>{{ item.hsn }}</span>
                    </td>
                    <td>
                        <span>{{ item.orderedUnits }}</span>
                    </td>
                    <td>
                        <span>{{ item.suppliedUnits }}</span>
                    </td>
                    <td>
                        <span>{{ item.consumedUnits }}</span>
                    </td>
                    <td>
                        <span>{{ item.invoiceUnits }}</span>
                    </td>
                    <td>
                        <span>{{ currency }}</span>
                    </td>
                    <td class="amount">
                        <span>{{ item.unitPrice }}</span>
                    </td>
                    <td class="amount">
                        <span>{{ item.unitsTotalAmount }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="footer">
            <div class="header ">
                Total Amount:
            </div>
            <div class="value ">
                {{ totalAmount + " " + currency }}
            </div>
        </div>

    </div>
</div>