.search-btn {
  border: 0.15em #24f4d5 solid;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  padding: 0.1em;
  cursor: pointer;
}
div.actions {
  padding: 0px;
}
.dataTable {
  margin-top: 0px;
}
.amount {
  text-align: right;
}
.search-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1em;
}

.search-row-element {
  flex-grow: 1;
}
.search-row-element mat-label {
  font-weight: 600;
}
.search-row-element.search-btn {
  flex-grow: 0;
  flex-shrink: 0;
}
.search-row-element.actions {
  flex: 0 0 3em;
}
.search-row-element.actions .footer-actions {
  height: 2em;
  line-height: 1em;
}
.mat-form-field.field {
  margin-right: 2em;
}
td.mat-cell:first-of-type,
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px;
}
td.mat-cell:last-of-type,
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 0px;
}
.material-icons {
  font-size: 1.25em;
}
.title {
  margin-bottom: 1em;
}
