.mat-form-field {
  color: #007bff !important;
  width: 100%;
  margin-top: 2em;
}
.title {
  color: #007bff;
  font-size: x-large;
}
.sign-in-btn {
  background-color: rgba(78, 154, 206, 0.7);
  border-radius: 0px;
  font-size: 1em;
}
.close {
  cursor: pointer;
  color: #007bff;
}
.header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}
.errortxt{
  margin-top: 2em;
}