<div class="main">
  <div class="container my-container">

    <div class="row">
      <div class="col-6">
        <div class="backdrop"></div>
      </div>
      <div class="col-6">
        <div class="logo"></div>

        <form class="login-form">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Enter New Password </mat-label>
              <input matInput type="password" placeholder="Enter New Password">
            </mat-form-field>
            <div class="errortxt">
              Password is required
            </div>
          </div>

          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Enter Confirm Password </mat-label>
              <input matInput type="password" placeholder="Enter Conofirm Password">
            </mat-form-field>
            <div class="errortxt">
              Confirm Password should be same as Password
            </div>

          </div>
          <!-- errors -->
          <!-- <div class="errortxt loginerror">{{ errorMessage }}</div> -->

          <!--  login button -->
          <div class="row full-width actions margin-unset  padding-unset">
            <button mat-raised-button type="submit" class=" footer-actions mat-elevation-z8">
              <i class="fa fa-spin fa-spinner pull-right" style="padding:5px" aria-hidden="true"></i>Reset</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>