<div class="main">
  <div class="container my-container">
    <div class="logo">mVendor</div>

    <form class="login-form">

      <!-- userId Column -->

      <div class="row">
        <div class="col-6  padding-unset">
          <mat-form-field class="full-width ">
            <mat-label>Enter Email </mat-label>
            <input matInput type="email" placeholder="Enter Email">
          </mat-form-field>
          <small id="emailHelp" class="form-text text-muted text-description">(Enter Marlabs System Login Email)</small>
          <div class="errortxt">
            Employee Email is required
          </div>
        </div>
        <div class="col-6 actions margin-unset padding-unset">
          <button mat-raised-button type="button" class=" footer-actions mat-elevation-z8">Next</button>
        </div>
      </div>
      <!------------------------ OTP column ------------------------------>
      <div class="row">
        <div class="col-6  padding-unset">
          <mat-form-field class="full-width ">
            <mat-label>Enter OTP </mat-label>
            <input matInput type="number" placeholder="Enter OTP">
          </mat-form-field>


        </div>
        <div class="col-6 actions margin-unset padding-unset">
          <button mat-raised-button type="button"
            class=" footer-actions footer-actions-green mat-elevation-z8">Resend OTP</button>
          <button mat-raised-button type="button" class=" footer-actions mat-elevation-z8">Submit</button>
        </div>
      </div>
      <!-- password Column -->

      <div class="row">
        <div class="col-6  padding-unset" >
          <mat-form-field class="full-width" style="padding-right:5px">
            <mat-label>Enter New Password </mat-label>
            <input matInput type="text" placeholder="Enter New Password">
          </mat-form-field>
          <div class="errortxt">
            Password is required
          </div>
        </div>

        <div class="col-6 padding-unset">
          <mat-form-field class="full-width " style="padding-left:5px">
            <mat-label>Confirm Password </mat-label>
            <input matInput type="text" placeholder="Confirm Password">
          </mat-form-field>
          <div class="errortxt">
            Confirm Password should be same as Password
          </div>
        </div>
      </div>

      <!-- errors -->
      <div class="errortxt loginerror">{{ errorMessage }}</div>

      <!--  login button -->
      <div class="row full-width actions margin-unset  padding-unset">
        <button mat-raised-button type="submit" class=" footer-actions mat-elevation-z8">
          <i class="fa fa-spin fa-spinner pull-right" style="padding:5px" aria-hidden="true"></i>Update</button>
      </div>
    </form>

  </div>
</div>