<div style="padding:1em;">
  <div >Forgot Password</div>
  <mat-divider style="margin-bottom: 2em;"></mat-divider>
  <mat-label>Enter you email address and we will send you a link to reset your password.</mat-label>

  <mat-form-field>
    <input matInput placeholder="Enter Email address" [(ngModel)]="data.email">
  </mat-form-field>

  <div class="row actions margin-unset">
    <button mat-raised-button type="submit" class="mat-elevation-z8"
      (click)="onSubmit()">Submit</button>
  </div>
</div>