<div class="main">
    <div class="title">
        <h3>{{ isForPayments ? "Pending Payments Invoices" : "Invoices" }}</h3>
    </div>
    <div class="search-row">
        <form [formGroup]="invoiceSearchForm" class="search-row-element">
            <mat-form-field class="field search-row-element">
                <mat-label>Invoice No.</mat-label>
                <input type="text" matInput formControlName="invoiceNumber" autocomplete="off">
            </mat-form-field>

            <mat-form-field class="field search-row-element">
                <mat-label>PO No.</mat-label>
                <input type="text" matInput formControlName="poNumber" autocomplete="off">
            </mat-form-field>

            <mat-form-field class="field search-row-element">
                <mat-label>Vendor Id</mat-label>
                <input type="text" matInput formControlName="vendorId" autocomplete="off">
            </mat-form-field>

            <mat-form-field class="field search-row-element">
                <mat-label>Entity</mat-label>
                <input type="text" matInput formControlName="entityNo" autocomplete="off">
            </mat-form-field>

            <mat-form-field class="field search-row-element">
                <mat-label>Project Id</mat-label>
                <input type="text" matInput formControlName="projectId" autocomplete="off">
            </mat-form-field>

            <mat-form-field class="field search-row-element">
                <mat-label>From Date</mat-label>
                <input matInput [matDatepicker]="picker" disabled formControlName="startDate" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="field search-row-element">
                <mat-label>To Date</mat-label>
                <input matInput [matDatepicker]="picker1" disabled formControlName="endDate" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 disabled="false"></mat-datepicker>
            </mat-form-field>
        </form>

        <div class="actions search-row-element">
            <button mat-raised-button class="footer-actions" (click) = "onClearClick()">Clear</button>
        </div>

        <!--<mat-icon class="search-btn mat-elevation-z3 search-row-element">search</mat-icon>-->

        <div class="actions search-row-element">
            <button mat-raised-button class="footer-actions" (click) = "onInvoiceDownloadClick()" >Export Excel</button>
        </div>
    </div>

    <div class="container my-container margin-unset full-width">
        <table class="dataTable full-width">
            <thead>
                <tr>
                    <th class="headers" scope="col">
                        <span>Invoice No. </span>
                    </th>
                    <th class="headers" scope="col">
                        <span>PO No. </span>
                    </th>
                    <th class="headers" scope="col">
                        <span>Vendor Id</span>
                    </th>
                    <th class="headers" scope="col">
                        <span>Vendor Name</span>
                    </th>
                    <th class="headers" scope="col">
                        <span>Entity</span>
                    </th>
                    <th class="headers" scope="col">
                        <span>Project Id</span>
                    </th>
                    <th class="headers" scope="col">
                        <span>Invoice Date</span>
                    </th>
                    <th class="headers" scope="col">
                        <span>GRN/SES No.</span>
                    </th>
                    <th class="headers" scope="col">
                        <span>Currency</span>
                    </th>
                    <th class="headers " scope="col" style="width: 9em;">
                        <span>Total Amt <small>(inc. tax)</small></span>
                    </th>
                    <th *ngIf = "isForPayments == true">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inv of invoiceList; let invInd = index">
                    <td style="cursor: pointer" (click)="onInvoiceClick(inv)" class="tencharacters">
                        {{ inv.invoiceNumber }}
                    </td>
                    <td class="tencharacters">
                        {{ inv.poNumber }}
                    </td>
                    <td  class="tencharacters">
                        {{ inv.vendorId }}
                    </td>
                    <td>
                        {{ inv.vendorName }}
                    </td>
                     <td>
                        {{ inv.companyCode ? inv.companyCode : "" }}
                    </td>
                     <td>
                        {{ inv.projectId ? inv.projectId : "" }}
                    </td>
                    <td class="tencharacters">
                        {{ getFormattedDate(inv.invoiceDate) }}
                    </td>
                    <td class="tencharacters">
                        {{ inv.grnSesNumber }}
                    </td>
                    <td  class="eightcharacters">
                        {{ inv.currencyType }}
                    </td>
                    <td class="amount tencharacters">
                        {{ inv.totalAmt }}
                    </td>
                    <td *ngIf = "isForPayments == true">
                        <div class="actions search-row-element">
                            <button mat-raised-button class="footer-actions" (click) = "onUpdatePaymentStatusClick(inv)">Update Status</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>