<div class="main">
    <div class="title">
        <h3>Invoice Search</h3>
    </div>
    <div class="search-row">
        <form [formGroup]="invoiceSearchForm">
            <mat-form-field class="search-row-element">
                <mat-label>PO No.</mat-label>
                <input type="text" matInput formControlName="poNumber" autocomplete="off">
            </mat-form-field>

            <mat-form-field class="search-row-element" style="margin-left: 20px">
                <mat-label>Invoice No.</mat-label>
                <input type="text" matInput formControlName="invoiceNumber" autocomplete="off">
            </mat-form-field>

            <mat-form-field class="field search-row-element" style="margin-left: 20px">
                <mat-label>Pick Start Date</mat-label>
                <input matInput [matDatepicker]="picker" disabled formControlName="startDate" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="field search-row-element">
                <mat-label>Pick End Date</mat-label>
                <input matInput [matDatepicker]="picker1" disabled formControlName="endDate" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 disabled="false"></mat-datepicker>
            </mat-form-field>
        </form>

        <div class="actions search-row-element">
            <button mat-raised-button class="footer-actions" (click) = "onClearClick()">Clear</button>
        </div>

        <!--<mat-icon class="search-btn mat-elevation-z3 search-row-element">search</mat-icon>-->

        <div class="actions search-row-element">
            <button mat-raised-button class="footer-actions">Export Excel</button>
        </div>
    </div>

    <div class="container my-container margin-unset full-width">
        <table class="dataTable full-width">
            <thead>
                <tr>
                    <th class="headers" scope="col">
                        <span>Invoice No. </span>
                    </th>
                    <th class="headers" scope="col">
                        <span>PO No. </span>
                    </th>
                    <th class="headers" scope="col">
                        <span>Vendor Id</span>
                    </th>
                    <th class="headers" scope="col">
                        <span>Vendor Name</span>
                    </th>
                    <th class="headers" scope="col">
                        <span>Invoice Date</span>
                    </th>
                    <th class="headers" scope="col">
                        <span>GRN/SES No.</span>
                    </th>
                    <th class="headers" scope="col">
                        <span>Currency</span>
                    </th>
                    <th class="headers " scope="col">
                        <span>Total Amount(Incl tax)</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inv of invoiceList; let invInd = index">
                    <td style="cursor: pointer" (click)="onInvoiceClick(inv)">
                        {{ inv.invoiceNumber }}
                    </td>
                    <td>
                        {{ inv.poNumber }}
                    </td>
                    <td>
                        {{ inv.vendorId }}
                    </td>
                    <td>
                        {{ inv.vendorName }}
                    </td>
                    <td>
                        {{ getFormattedDate(inv.invoiceDate) }}
                    </td>
                    <td>
                        {{ inv.grnSesNumber }}
                    </td>
                    <td>
                        {{ inv.currencyType }}
                    </td>
                    <td class="amount">
                        {{ inv.totalAmt }}
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>