<div class="main">
    <div class="title">
        <h3>Pending Approvals - Invoice Approvals</h3>
    </div>
    <!-- -----------------------------------stepper---------------------------------------------- -->
    <ul class="stepper">
        <li class="step completed">
            <span class="upper-text">06 Feb 2020</span>
            <span class="dot"></span>
            <span class="lower-text">
        Invoice Upload
      </span>
        </li>

        <li class="step completed">
            <span class="upper-text">15 Feb 2020</span>
            <span class="dot"></span>
            <span class="lower-text">
        Invoice Validation
      </span>
        </li>
        <li class="step completed">
            <span class="upper-text">27 Feb 2020</span>
            <span class="dot"></span>
            <span class="lower-text">
        Buyer Approval
      </span>
        </li>

        <li class="step">
            <span class="upper-text"></span>
            <span class="dot"></span>
            <span class="lower-text">
        Business Head Approval
      </span>
        </li>

        <li class="step">
            <span class="upper-text"></span>
            <span class="dot"></span>
            <span class="lower-text">
        Finance Approval
      </span>
        </li>

        <li class="step">
            <span class="upper-text"></span>
            <span class="dot"></span>
            <span class="lower-text">
        Payment
      </span>
        </li>
    </ul>


    <div class="search-row">
        <div class="search-row-element">
            <div class="search-row-element">
                <mat-label>PO No.</mat-label>
                <div class="value">{{ initDetails?.invoiceDetails?.purchaseOrderId }}</div>
            </div>

            <div class="search-row-element">
                <mat-label>Invoice No.</mat-label>
                <div class="value">{{ initDetails?.invoiceDetails?.invoiceNumber }}</div>
            </div>

            <div class="search-row-element">
                <mat-label>Invoice Date</mat-label>
                <div class="value">{{ initDetails?.invoiceDetails?.invoiceDate }}</div>
            </div>
        </div>
        <div class="search-row-element">
            <div class="search-row-element">
                <mat-label>Total Invoice Amount
                    <div class="smaller-text">Including Tax</div>
                </mat-label>
                <div class="value">{{ initDetails?.invoiceDetails?.totalAmt }}</div>
            </div>

            <div class="search-row-element">
                <mat-label>Remarks</mat-label>
                <div class="value">{{ initDetails?.invoiceDetails?.remarks }}</div>
            </div>
        </div>
        <div>
            <mat-label>Remarks</mat-label>
            <input class="inv-qty" [(ngModel)] = "remarks">
        </div>
        <div class="actions search-row-element">
            <button mat-raised-button class="footer-actions footer-actions-green">Invoice Attachments</button>
            <button mat-raised-button class="footer-actions footer-actions-green">Supporting Attachments</button>
        </div>
    </div>

    <!-- table details [dataSource]="POData"-->
    <div class="container my-container margin-unset full-width">
        <table class="dataTable full-width">
            <thead>
                <tr>
                    <th class="headers" scope="col" *ngFor="let col of headerArr; let hInd = index">
                        <span>{{ headerArr[hInd] }} </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of initDetails?.itemsList; let itemInd = index">
                    <td>
                        {{ item.itemNumber }}
                    </td>
                    <td>
                        {{ item.itemDescription }}
                    </td>
                    <td>
                        {{ item.hsn }}
                    </td>
                    <td>
                        {{ item.orderedUnits }}
                    </td>
                    <td>
                        {{ item.suppliedUnits }}
                    </td>
                    <td>
                        {{ item.consumedUnits }}
                    </td>
                    <td>
                        {{ item.invoiceUnits }}
                    </td>
                    <td>
                        {{ getCurrencyType() }}
                    </td>
                    <td>
                        {{ item.unitPrice }}
                    </td>
                    <td>
                        {{ getUnitsAmt(item) }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="color: blue">
        {{ msg }}
    </div>
    <div class="row actions margin-unset">
        <button mat-raised-button class="footer-actions">Cancel</button>
        <button mat-raised-button class="footer-actions" (click)="onRejectClick()">Reject</button>
        <button mat-raised-button class="footer-actions footer-actions-green" (click)="onApproveClick()">Approve</button>
    </div>
</div>