//---------------------css for stepper---------------------------

.stepper {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 2em 0px;

  .step {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.completed {
      .dot {
        background-color: blueviolet;
      }

      .lower-text {
        color: blueviolet;
      }

      &:after {
        background-color: blueviolet;
      }
    }

    &:last-child {
      &:after {
        width: 50%;
        transform: translateX(-50%);
      }
    }

    &:first-child {
      &:after {
        width: 50%;
        transform: translateX(50%);
      }
    }

    &:after {
      content: "";
      width: 100%;
      height: 3px;
      position: absolute;
      top: 25px;
      background-color: #d5d5d5;
      z-index: 0;
    }

    .upper-text {
      font-size: 11px;
      line-height: 1.5;
      text-align: center;
      color: #999;
      height: 20px;
      display: block;
    }

    .lower-text {
      font-size: 14px;
      line-height: 1.57;
      text-align: center;
      color: #999;
      display: block;
      margin-top: 0.5em;
    }

    .dot {
      width: 1em;
      height: 1em;
      border-radius: 50%;
      position: relative;
      z-index: 1;
      display: inline-block;
      background-color: #fff;
      border: 2px solid blueviolet;
    }
  }
}
// ----------------------------css for stepper ends------------------------------

.search-row .footer-actions {
  height: 2em;
  padding: 0 1em;
  width: 100%;
}

div.actions {
  padding: 0px;
}
.dataTable {
  margin-top: 0px;
}
.amount {
  text-align: right;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.flex-item {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}

 .flex-container .flex-item .value {
  width: 60%;
}
 .flex-container .flex-item .header {
  width: 40%;
  color: black;
  font-weight: 500;
}
.flex-container>.flex-item>.flex-container{
  flex-direction: column;
  flex-grow: 1;
}
.flex-container.files>.flex-item>.header{
  width:20%;
}
.flex-container.files>.flex-item, .flex-container.details>.flex-item{
  align-items: center;
}
td.mat-cell:first-of-type,
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px;
}
td.mat-cell:last-of-type,
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 0px;
}
.material-icons {
  font-size: 1.25em;
}