<div class="main">
    <div class="title">
        <h3>Pending Approvals - Invoice Approvals</h3>
    </div>
    <!-- -----------------------------------stepper---------------------------------------------- -->
    <ul class="stepper">
        <li class="step completed">
            <span class="upper-text"></span>
            <span class="dot"></span>
            <span class="lower-text">
                Invoice Upload
            </span>
        </li>

        <li class="step" [ngClass]="isPOCompleted == true ? 'completed' : ''">
            <span class="upper-text"></span>
            <span class="dot"></span>
            <span class="lower-text">
                PO Approval
            </span>
        </li>

        <li class="step" [ngClass]="isFunctionalHeadCompleted == true ? 'completed' : ''">
            <span class="upper-text"></span>
            <span class="dot"></span>
            <span class="lower-text">
                Functional Head Approval
            </span>
        </li>

        <li class="step">
            <span class="upper-text"></span>
            <span class="dot"></span>
            <span class="lower-text">
                Finance Approval
            </span>
        </li>

        <li class="step">
            <span class="upper-text"></span>
            <span class="dot"></span>
            <span class="lower-text">
                Payment
            </span>
        </li>
    </ul>

    <div class="search-row">
        <div class="search-row-element">
            <div class="search-row-element" *ngIf="isPOInvoice == true">
                <mat-label>PO No.</mat-label>
                <div class="value">{{ initDetails?.poDetails?.poNumber }}</div>
            </div>

            <div class="search-row-element">
                <mat-label>Invoice No.</mat-label>
                <div class="value">{{ initDetails?.invoiceDetails?.invoiceNumber }}</div>
            </div>

            <div class="search-row-element">
                <mat-label>Invoice Date</mat-label>
                <div class="value">{{ getFormattedDate(initDetails?.invoiceDetails?.invoiceDate) }}</div>
            </div>

            <div class="search-row-element" *ngIf="isPOInvoice == false">
                <mat-label>Currency</mat-label>
                <div class="value">{{ initDetails?.invoiceDetails?.currencyType }}</div>
            </div>

            <div class="search-row-element">
                <mat-label>Remarks</mat-label>
                <div class="value">{{ initDetails?.invoiceDetails?.remarks }}</div>
            </div>
        </div>
        <div class="search-row-element">
            <div class="search-row-element">
                <mat-label>Freight Charges
                </mat-label>
                <div class="value">{{ initDetails?.invoiceDetails?.freightCharges }}</div>
            </div>

            <div class="search-row-element">
                <mat-label>Total Tax Amount
                </mat-label>
                <div class="value">{{ initDetails?.invoiceDetails?.totalTax }}</div>
            </div>

            <div class="search-row-element">
                <mat-label>Total Invoice Amount
                    <div class="smaller-text">Including Tax</div>
                </mat-label>
                <div class="value">{{ initDetails?.invoiceDetails?.totalAmt }}</div>
            </div>
        </div>

        <div class="actions search-row-element">
            <button mat-raised-button class="footer-actions footer-actions-green">Invoice Attachments</button>
            <button mat-raised-button class="footer-actions footer-actions-green">Supporting Attachments</button>
        </div>
    </div>

    <div>
        <mat-label>Remarks</mat-label>
        <input class="inv-qty" [(ngModel)]="remarks">
    </div>

    <div *ngIf = "isPOInvoice == true">
        <mat-form-field class="full-width" *ngIf = "isGrnDdlVisible == true">
            <mat-label>GRN/SES No.</mat-label>
            <mat-select matNativeControl [(ngModel)] = "selectedGrnSesNumber">
                <mat-option *ngFor="let gs of grnSesList" [value]="gs.grnSesNumber">
                    {{ gs.grnSesNumber }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <span *ngIf = "isGrnDdlVisible == false">{{ initDetails?.invoiceDetails?.grnSesNumber }}</span>
    </div>

    <!-- table details [dataSource]="POData"-->
    <div class="container my-container margin-unset full-width">
        <table class="dataTable full-width">
            <thead>
                <tr>
                    <th class="headers" scope="col" *ngFor="let col of headerArr; let hInd = index">
                        <span>{{ headerArr[hInd] }} </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of initDetails?.itemsList; let itemInd = index">
                    <td>
                        {{ item.itemNumber }}
                    </td>
                    <td>
                        {{ item.itemDescription }}
                    </td>
                    <td>
                        {{ item.hsn }}
                    </td>
                    <td *ngIf="isPOInvoice == true">
                        {{ item.orderedUnits }}
                    </td>
                    <td *ngIf="isPOInvoice == true">
                        {{ item.suppliedUnits }}
                    </td>
                    <td *ngIf="isPOInvoice == true">
                        {{ item.consumedUnits }}
                    </td>
                    <td>
                        {{ item.invoiceUnits }}
                    </td>
                    <td *ngIf="isPOInvoice == true">
                        {{ getCurrencyType() }}
                    </td>
                    <td>
                        {{ item.unitPrice }}
                    </td>
                    <td>
                        {{ getUnitsAmt(item) }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="color: blue">
        {{ msg }}
    </div>
    <div class="row actions margin-unset">
        <button mat-raised-button class="footer-actions">Cancel</button>
        <button mat-raised-button class="footer-actions" (click)="onRejectClick()">Reject</button>
        <button mat-raised-button class="footer-actions footer-actions-green" (click)="onApproveClick()">Approve</button>
    </div>
</div>